#tl-booking-form {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 0;
}

#block-search,
#block-search * {
  box-sizing: border-box;
}

#block-search {
  background: #ffffff;
  max-width: 1520px;
  margin: 0 auto;
}

.tl-container {
  padding: 0 30px;
}