@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5rem;
  --btn-margin-x: 0.3rem;
  --btn-margin-y: 0.3rem;
  --btn-padding-x: 2.2rem;
  --btn-padding-y: 1.5rem;
  --btn-color: var(--white);
  --btn-border-radius: calc(var(--btn-height) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  flex-shrink: 0;

  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  margin: var(--btn-margin-y) var(--btn-margin-x);

  background: var(--btn-background);
  border-radius: var(--btn-border-radius);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  color: var(--btn-color);
  white-space: nowrap;
  transition: all 0.3s ease;

  position: relative;

  @include md {
    --btn-height: 4.4rem;
  }

  @include sm {
    --btn-padding-x: 1.5rem;
  }

  &:hover {

    .pulse::before {
      animation: pulse 3s linear infinite;
      animation-delay: 0s;
    }

    .pulse::after {
      animation: pulse 3s linear infinite;
      animation-delay: 1.5s;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    bottom: -0.3rem;
    left: -0.3rem;
    z-index: -1;
    border: 0.1rem solid var(--btn-background);
    border-radius: var(--btn-border-radius);
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    bottom: 0.3rem;
    left: 0.3rem;
    border: 0.1rem solid var(--white-50);
    border-radius: var(--btn-border-radius);
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--accent {
    --btn-background: var(--accent);

    &:hover {
      --btn-background: var(--black);
    }
  }

  &--white {
    --btn-color: var(--accent);
    --btn-background: var(--white);

    &:hover {
      --btn-color: var(--white);
      --btn-background: var(--gray);
    }
  }

  &--black {
    --btn-background: var(--black);

    border-color: var(--black-50);

    &:hover {
      --btn-background: var(--accent);
    }
  }

  &--gray {
    --btn-color: var(--black);
    --btn-background: var(--white-gray);

    &:hover {
      --btn-color: var(--white);
      --btn-background: var(--accent);
    }
  }

  &--outline {
    --btn-color: var(--black);
    --btn-background: var(--gray-light);

    &:hover {
      --btn-color: var(--white);
      --btn-background: var(--gray);
    }
  }

  &--blur {
    --btn-background: rgba(255, 255, 255, 0.24);

    backdrop-filter: blur(7.8px);

    &:hover {
      --btn-background: var(--accent);
    }
  }

  &--icon {
    --btn-width: var(--btn-height);
    --btn-height: 5rem;
    --btn-border-radius: 50%;

    &:hover {

      .pulse::before {
        animation: pulse-round 3s linear infinite;
        animation-delay: 0s;
      }

      .pulse::after {
        animation: pulse-round 3s linear infinite;
        animation-delay: 1.5s;
      }
    }
  }
}

.btn {

  /* Большая кнопка со стрелкой */
  &-arrow {
    --btn-arrow-width: 17rem;
    --btn-arrow-height: 17rem;
    --btn-arrow-padding: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-arrow-width);
    height: var(--btn-arrow-height);
    border-radius: 50%;
    border: 0.1rem solid var(--white-30);
    background-color: transparent;

    position: absolute;
    left: -7.7rem;
    bottom: var(--btn-bottom);

    will-change: bottom;

    @include md {
      --btn-arrow-width: 10rem;
      --btn-arrow-height: 10rem;
      --btn-arrow-padding: 0.47rem;

      left: -4.5rem;
      bottom: -3.2rem
    }

    &::before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 0.1rem solid var(--white-30);
      background-color: var(--white);
      transition: all 0.3s ease;
      pointer-events: none;

      position: absolute;
      top: var(--btn-arrow-padding);
      right: var(--btn-arrow-padding);
      bottom: var(--btn-arrow-padding);
      left: var(--btn-arrow-padding);
    }

    &::after {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 0.1rem solid var(--accent-30);
      transition: all 0.3s ease;
      pointer-events: none;

      position: absolute;
      top: calc(var(--btn-arrow-padding) * 2);
      right: calc(var(--btn-arrow-padding) * 2);
      bottom: calc(var(--btn-arrow-padding) * 2);
      left: calc(var(--btn-arrow-padding) * 2);
    }

    i {
      --font-size: 8.33rem;

      color: var(--accent);

      @include md {
        --font-size: 5.5rem;
      }
    }

    &--down {

      i {
        transform: rotate(90deg);
      }
    }
  }

  /* Кнопка вопспроизведения видео */
  &-play {
    --btn-play-width: 7rem;
    --btn-play-height: 7rem;
    --btn-play-padding: 0.375rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-play-width);
    height: var(--btn-play-height);
    border-radius: 50%;
    border: 0.05rem solid var(--accent-30);
    background-color: transparent;

    position: relative;

    @include md {
      --btn-play-width: 5rem;
      --btn-play-height: 5rem;
      --btn-play-padding: 0.268rem;
    }

    &::before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 0.05rem solid var(--accent);
      background-color: var(--accent);
      transition: all 0.3s ease;
      pointer-events: none;

      position: absolute;
      top: var(--btn-play-padding);
      right: var(--btn-play-padding);
      bottom: var(--btn-play-padding);
      left: var(--btn-play-padding);
    }

    &::after {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 0.05rem solid var(--white-50);
      transition: all 0.3s ease;
      pointer-events: none;

      position: absolute;
      top: calc(var(--btn-play-padding) * 2);
      right: calc(var(--btn-play-padding) * 2);
      bottom: calc(var(--btn-play-padding) * 2);
      left: calc(var(--btn-play-padding) * 2);
    }

    i {
      --font-size: 6.25rem;

      color: var(--white);

      @include md {
        --font-size: 4.46rem;
        --font-size: 5rem;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.1;
  }

  50% {
    transform: scaleX(1.1) scaleY(1.3);
    opacity: .4;
  }

  100% {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
  }
}

@keyframes pulse-round {
  0% {
    transform: scale(1);
    opacity: 0.1;
  }

  50% {
    transform: scale(1.2);
    opacity: .4;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}