@use './../mixins' as *;

/* Стили для иконок */
[class^="icon-"],
[class*=" icon-"] {
  --font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--font-size);
  height: var(--font-size);
  transition: all 0.3s ease;
  flex-shrink: 0;

  font-size: var(--font-size);
  color: inherit;

  position: relative;
  z-index: 1;
}

/* Уникальные иконки */
.icon {

  &-3d {
    --font-size: var(--btn-height);

    margin-top: 0.3rem;
  }

  &-play {
    --font-size: 5rem;

    margin-left: -0.3rem;
  }

  &-book {
    --font-size: 2.4rem;

    @include sm {
      display: none;
    }
  }

  &-burger {
    --font-size: 5rem;

    display: none;


    .burger-btn & {
      @include md {
        display: block;
      }
    }
  }

  &-menu {

    @include md {
      display: none;
    }
  }
}

/* Пульсация кнопки */
.pulse {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  bottom: -0.3rem;
  left: -0.3rem;
  z-index: -1;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: none;
    transform-origin: center center;
    pointer-events: none;
    opacity: 0;
    border: 0.1rem solid var(--btn-background);
    border-radius: var(--btn-border-radius);
    background-color: transparent;
    transition: all 0.3s ease;

    will-change: top, right, bottom, left;
  }

  &::before {

    .btn:hover & {
      animation: pulse-round 3s linear infinite;
      animation-delay: 0s;
    }
  }

  &::after {

    .btn:hover & {
      animation: pulse-round 3s linear infinite;
      animation-delay: 1.5s;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: .1;
  }

  50% {
    transform: scaleX(1.1) scaleY(1.3);
    opacity: .4;
  }

  100% {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
  }
}

@keyframes pulse-round {
  0% {
    transform: scale(1);
    // top: -0.5rem;
    // right: -0.5rem;
    // bottom: -0.5rem;
    // left: -0.5rem;
    opacity: 0.1;
  }

  50% {
    transform: scale(1.2);
    // top: -1rem;
    // right: -1rem;
    // bottom: -1rem;
    // left: -1rem;
    opacity: .4;
  }

  100% {
    transform: scale(1.4);
    // top: -1.5rem;
    // right: -1.5rem;
    // bottom: -1.5rem;
    // left: -1.5rem;
    opacity: 0;
  }
}