@use './../mixins' as *;
/* Стили для иконок */
[class^="icon-"],
[class*=" icon-"] {
  --font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--font-size);
  height: var(--font-size);
  transition: all 0.3s ease;
  flex-shrink: 0;

  font-size: var(--font-size);
  color: inherit;

  position: relative;
  z-index: 1;
}

/* Уникальные иконки */
.icon {

  &-3d {
    --font-size: var(--btn-height);

    margin-top: 0.3rem;
  }

  &-play {
    --font-size: 5rem;

    margin-left: -0.3rem;
  }

  &-book {
    --font-size: 2.4rem;

    @include sm {
      display: none;
    }
  }

  &-burger {
    --font-size: 5rem;

    display: none;

    @include md {
      display: block;
    }
  }

  &-menu {

    @include md {
      display: none;
    }
  }
}

/* Пульсация кнопки */
.pulse {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  bottom: -0.3rem;
  left: -0.3rem;
  z-index: -1;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    transform-origin: center center;
    pointer-events: none;
    opacity: 0;
    border: 0.1rem solid var(--btn-background);
    border-radius: var(--btn-border-radius);
    background-color: transparent;
    transition: all 0.3s ease;
  }
}