@use './../mixins' as *;

/* Главный заголовок страницы */
h1 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 8rem;
  line-height: 90%;

  @include md {
    font-size: 4rem;
  }

  @include sm {
    font-size: 3.5rem;
  }
}

/* Повторяет стиль главного заголовка */
h2 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 8rem;
  line-height: 110%;

  @include md {
    font-size: 4rem;
  }

  @include sm {
    font-size: 3rem;
  }
}

/* Заголовок */
h3 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 6rem;
  line-height: 110%;

  @include md {
    font-size: 5rem;
  }
}

/* Второй заголовок */
h4 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 5rem;
  line-height: 90%;

  @include md {
    font-size: 2.5rem;
  }
}

/* Подзаголовки и заголовки дочерних блоков */
h5 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 90%;

  @include md {
    font-size: 1.6rem;
  }
}

/* Выделенный текст, надзаголовок и подзаголовок */
h6 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 120%;
  letter-spacing: 0.1em;

  @include md {
    font-size: 2rem;
  }
}

/* Текст внутри блока */
p {
  font-family: var(--font-family);
  font-weight: 350;
  font-size: 1.6rem;
  line-height: 120%;

  @include md {
    font-size: 1.4rem;
  }
}

/* Акцентирование текста цветом фуксия */
h1,
h2,
h3,
h4,
h5,
h6 {
  span {
    color: var(--accent);
  }
}

/* Надзаголовок с обводкой */
.suptitle {
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accent);

  padding: 1rem 0;
  border-top: 0.1rem solid var(--accent);
  border-bottom: 0.1rem solid var(--accent);
}

main li:not(.breadcrumbs li, .template-product__body li) {
  padding-left: 2.3rem;
  margin-bottom: 2rem;
  position: relative;

  @include sm {
    margin-bottom: 1rem;
  }

  span {
    display: block;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--accent);
    flex-shrink: 0;
    position: absolute;
    top: 0.6rem;
    left: 0;
  }
}