@use './../mixins' as *;

.tooltip {
  padding: 2rem 2rem 3rem;
  border: 0.1rem solid var(--accent);
  width: 23.2rem;
  height: auto;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;

  cursor: default;
  text-align: left;

  position: absolute;
  top: calc(100% + 2.1rem);
  left: 0;
  z-index: 1;

  // .target:hover & {

  //   @include domd {
  //     opacity: 1;
  //     visibility: visible;
  //     pointer-events: all;
  //   }
  // }

  .target.show & {

    // @include md {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    // }
  }

  @include md {
    border-color: transparent;
    position: fixed;
    // top: var(--container-padding);
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);

    width: 100%;
    min-height: 100%;
  }

  &::before {
    content: '';
    display: block;
    width: 2.2rem;
    height: 2rem;
    position: absolute;
    left: 1.3rem;
    top: -2rem;
    z-index: 1;
    background-color: var(--accent);
    clip-path: polygon(0 0, 0 100%, 100% 100%);

    @include md {
      display: none;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1.4rem;
    top: -1.9rem;
    z-index: 2;
    background-color: var(--white);
    clip-path: polygon(0 0, 0 100%, 100% 100%);

    @include md {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:hover svg {
      stroke: var(--accent);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      stroke: var(--black);
      transition: all 0.3s ease;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span {
      font-weight: 350;
      font-size: 1.2rem;
      line-height: 120%;
      color: var(--accent);
    }

    a {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 120%;
      color: var(--black);
      text-decoration: underline;
      transition: all 0.3s ease;

      &:hover {
        color: var(--accent);
        text-decoration: none;
      }
    }
  }
}

#tooltipPopup {
  padding: 2rem 2rem 3rem;

  .is-close-button {
    top: 0.5rem;
    right: 0.5rem;
  }
}