@use './../mixins' as *;

.events {
  padding-bottom: 5rem;

  position: relative;

  @include md {
    padding-bottom: 4rem;
  }

  .general__head-title {

    h4 {

      @include md {
        font-size: 4rem;
      }

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__body {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 4rem 2rem;
    margin-bottom: 6rem;

    @include md {
      grid-template-columns: 42.73% calc(100% - 2rem - 42.73%);
      gap: 3rem 2rem;
      margin-bottom: 3rem;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-bottom: 2rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    // width: calc(33.33333% - 1rem);
    z-index: 2;

    grid-row: 1/3;
    grid-column: 1/2;

    @include md {
      grid-row: 1/2;
    }

    @include sm {
      margin-bottom: 1rem;
    }

    &-wrap {
      max-width: 100%;
      aspect-ratio: 493/456;

      position: relative;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-head {
      display: flex;
      flex-direction: column;

      font-family: var(--second-family);
      font-weight: 350;
      font-size: 5rem;
      line-height: 90%;
      text-transform: uppercase;
      color: var(--white);

      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 1;

      @include md {
        font-size: 3.5rem;

        top: 3rem;
        left: 2rem;
      }

      @include sm {
        top: 4rem;
        left: 4rem;
      }

      span {
        font-size: 3rem;
        text-transform: lowercase;

        @include md {
          font-size: 2rem;
        }
      }
    }

    &-title {

      h5 {
        line-height: 110%;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 4rem 4rem;
      background-color: var(--accent);

      color: var(--white);

      @include md {
        gap: 2.5rem;
        padding: 2rem 1rem 3rem 2rem;
      }

      @include sm {
        gap: 2rem;
        padding: 3rem 2rem 2rem 2rem;
      }

      &:hover {
        background-color: var(--white);

        color: var(--black);

        .link {
          color: var(--accent);

          i {
            color: var(--white);
            background-color: var(--black);
          }
        }
      }

      h5 {

        @include md {
          font-size: 2.4rem;
        }

        @include sm {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__calendar {
    // display: flex;
    // flex-direction: column;
    // gap: 4rem;
    // width: calc(66.66667% - 1rem);
    grid-row: 1/2;
    grid-column: 2/4;

    position: relative;
    z-index: 1;

    @include md {
      grid-column: 2/3;
    }

    @include sm {
      margin-bottom: 2rem;
    }

    &--slider {
      width: 100%;
      height: 100%;
      min-width: 0;
      overflow: visible;
    }

    &-slide {
      // width: calc(50% - 1rem) !important;
      // max-width: 49.4rem;
      // min-width: 0;
      // height: auto;
      // aspect-ratio: 493/456;

      // @include md {
      //   aspect-ratio: unset;
      // }

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s ease;

      &.swiper-slide-active,
      &.swiper-slide-next {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      &.swiper-slide-active {
        z-index: 2;
      }

      &.swiper-slide-next {
        z-index: 1;
      }
    }

    .swiper-button-next {
      display: none;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      background-color: var(--white);
      padding: 3rem 5rem 4rem;
      height: 100%;

      @include md {
        gap: 1.5rem;
        padding: 2rem;
      }

      @include sm {
        padding: 2rem 1.5rem 1.5rem;
        height: fit-content;
      }

      @include xxs {
        padding: 2rem 1rem 1.5rem;
      }
    }

    &-month {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 110%;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      color: var(--accent);

      @include md {
        font-size: 2rem;
      }

      h6 {

        @include sm {
          font-weight: 700;
        }
      }
    }

    table {
      width: 100%;
    }

    tr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2rem;

      @include md {
        margin-bottom: 0.5rem;
      }

      @include sm {
        justify-content: center;
        gap: 1.5rem;
      }

      @include xs {
        justify-content: space-between;
        gap: 0.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    th {
      width: 3.2rem;
      flex-shrink: 0;

      // font-family: var(--second-family);
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;

      @include md {

        font-size: 1.4rem;
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        color: var(--accent);
      }
    }

    td {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.2rem;
      height: 3.2rem;
      flex-shrink: 0;
      border: 0.1rem solid transparent;
      transition: all 0.3s ease;

      font-weight: 350;
      font-size: 1.6rem;
      line-height: 100%;
      text-align: center;
      color: var(--gray);
      cursor: default;

      position: relative;

      &:not(:empty) {
        cursor: default;
      }

      @include xxl {
        border-radius: 0.5rem;
      }

      @include md {
        font-size: 1.4rem;
      }

      &:not(:empty, .today):hover {
        // font-weight: 700;
        // color: var(--accent);
        // border-color: var(--black);
      }

      &.today {
        color: var(--white);
        background-color: var(--accent);
        border-color: var(--accent);
        cursor: pointer;

        &:hover {
          font-weight: 350;
          border-color: var(--black);
        }
      }

      &.target {
        font-weight: 700;
        color: var(--accent);
        border-color: var(--accent);
        cursor: pointer;

        @include xxl {
          font-weight: 350;
          border-color: transparent;
        }

        &:hover {
          font-weight: 700;
          border-color: var(--black);
        }

        &>span {
          width: 100%;
          align-content: center;
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 3rem;
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 62rem;

    grid-row: 2/3;
    grid-column: 2/4;

    @include md {
      grid-column: 1/3;
    }

    h6 {
      font-weight: 900;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @include md {
        font-size: 2rem;
      }
    }

    p {
      color: var(--gray);
    }
  }

  &__other {

    .general__head-title {

      h5 {
        text-transform: none;

        @include md {
          font-size: 4rem;
        }

        @include sm {
          font-size: 2.5rem;
        }
      }
    }

    .swiper-button-prev {

      @include md {
        left: calc(var(--swiper-button-size) / 2 * -1);
      }

      @include sm {
        display: none;
      }
    }

    .swiper-button-next {

      @include md {
        right: calc(var(--swiper-button-size) / 2 * -1);
      }

      @include sm {
        display: none;
      }
    }

    .swiper-pagination {
      margin-top: 3rem;
    }

    &-body {
      position: relative;
    }

    &--slider {

      @include sm {
        overflow: visible;
      }
    }

    &-item {
      display: block;
      border: 0.1rem solid var(--gray-50);
      transition: all 0.3s ease;
      height: 100%;

      position: relative;

      &:hover & {
        border-color: transparent;

        @include md {
          border-color: var(--gray-50);
        }
      }

      &:hover::before {
        clip-path: ellipse(10% 10% at -10% 110%);

        @include md {
          clip-path: ellipse(160% 160% at -10% 110%);
        }
      }

      &::before {
        --border-width: 2rem;

        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        clip-path: ellipse(160% 160% at -10% 110%);

        transition-property: clip-path;
        transition-duration: .8s;
        transition-timing-function: cubic-bezier(.7, 0, .4, 1);

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 8rem 3rem 6rem;
      border: 2rem solid var(--white-gray);
      transition: all 0.8s ease;
      height: 100%;

      position: relative;
      z-index: 3;

      @include md {
        padding: 4rem 1.6rem 3rem;
        border-width: 1rem;
      }

      @include sm {
        padding: 5rem 2rem 5rem;
      }

      .events__other-item:hover & {
        border-color: var(--white-30);
        color: var(--white);

        @include md {
          border-color: var(--white-gray);
          color: var(--black);
        }
      }

      .btn {
        --btn-padding-x: 4rem;

        transition: all 0.5s ease;
        transition-delay: 0.2s;

        @include md {
          --btn-padding-x: 2.5rem;
        }

        @include sm {
          --btn-padding-x: 2.5rem;
        }

        .events__other-item:hover & {

          @include domd {
            --btn-border-color: var(--white-30);

            backdrop-filter: blur(0.8rem);
          }

          @include md {
            --btn-border-color: var(--gray-10);
            color: var(--accent);
          }
        }

        &::before {
          transition: all 0.5s ease;
          transition-delay: 0.2s;

          .events__other-item:hover & {

            @include domd {
              background: rgba(255, 255, 255, 0.24);
              border-color: transparent;
            }

            @include md {
              background: var(--white-gray);
            }
          }
        }

        &::after {
          transition: all 0.5s ease;
          transition-delay: 0.2s;

          .events__other-item:hover & {

            @include domd {
              border-color: var(--white-o-50);
            }

            @include md {
              border-color: var(--black-30);
            }

            .scale {}
          }
        }
      }
    }

    &-suptitle {
      text-transform: uppercase;
      margin-bottom: 8rem;
      transition: all 0.5s ease;

      @include md {
        margin-bottom: 5rem;
      }
    }

    &-title {
      text-transform: uppercase;
      color: var(--accent);
      border-top: 0.1rem solid var(--accent);
      border-bottom: 0.1rem solid var(--accent);
      padding: 3rem 0;
      margin-bottom: 6rem;
      transition: all 0.5s ease;

      transition-delay: 0.3s;

      @include md {
        padding: 2rem 0;
        margin-bottom: 4rem;
      }

      p {
        font-weight: 900;
      }

      .events__other-item:hover & {
        color: var(--white);
        border-color: var(--white-o-50);

        @include md {
          color: var(--accent);
          border-color: var(--accent);
        }
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: all 0.3s ease;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      img {
        height: 100%;
      }

      @include md {
        display: none;
      }
    }

    [class^=swiper-button-],
    [class*=" swiper-button-"] {
      top: calc(50% - 1.5rem);
    }
  }
}