@use './../mixins' as *;

.fitness {
  padding-bottom: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    position: relative;
    z-index: 1;
  }

  &__head {
    color: var(--white);
    text-align: center;

    position: absolute;
    top: 9rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    @include md {
      color: inherit;
      position: static;
      transform: none;
    }

    &-title {
      /* Для анимации fadeIn */
      overflow: hidden;

      h2 {

        @include md {
          font-size: 3rem;
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include md {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
    width: 25%;
    min-height: calc(100dvh - var(--header-height));
    padding: 29rem 5rem 17rem;
    transition: all 1s ease;

    color: var(--white);
    text-align: center;

    position: relative;

    @include md {
      gap: 1rem;
      width: 100%;
      min-height: auto;
      padding: 5rem 0 6rem;
    }

    &:hover {
      width: 33%;

      @include md {
        width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      left: 2rem;
      z-index: -1;
      border: 0.1rem solid var(--white-30);

      @include md {
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
      }
    }

    &-count {
      width: 5.5rem;
      padding: 1.5rem 0;
      border-top: 0.1rem solid var(--white-50);
      border-bottom: 0.1rem solid var(--white-50);

      @include md {
        padding: 1rem 0;

        font-size: 2rem;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }

    &-title {

      h5 {
        line-height: 120%;

        @include sm {
          font-size: 2.5rem;
        }
      }

      br {

        @include md {
          display: none;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      max-width: 30rem;
      transition: all 1s ease;
      opacity: 0;
      pointer-events: none;

      @include md {
        display: none;
      }

      .fitness__item:hover & {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;

      img {
        height: 100%;
      }
    }
  }
}