@use './../mixins' as *;

.offer {
  --offer-padding-top: 5rem;
  --offer-padding-bottom: 5rem;
  --offer-padding-left: 13rem;

  padding-top: 7rem;
  position: relative;

  @include md {
    --offer-padding-top: 0;
    --offer-padding-bottom: 0;
    --offer-padding-left: 0;

    padding-top: 4rem;
    overflow: visible;
  }

  @include sm {
    padding: 4rem 0;
  }

  &__inner {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
    gap: 5rem 2rem;

    @include md {
      grid-template-columns: 54.15% 42.88%;
      gap: 2rem;
    }

    @include sm {
      display: flex;
      flex-direction: column;
    }
  }

  &__head {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: var(--offer-padding-top) 0 0 var(--offer-padding-left);

    text-transform: uppercase;

    @include sm {
      grid-column: 1/2;
    }

    h4 {
      line-height: 110%;
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__body {
    grid-column: 1/2;
    grid-row: 1/3;

    position: relative;

    @include md {
      // height: fit-content;
      aspect-ratio: 365/407;
    }

    @include sm {
      grid-row: 2/3;
    }

    &--slider {
      height: 100%;
      overflow: visible;
      position: relative;
      z-index: 1;
    }

    &-item {
      position: relative;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-img {
      height: 100%;
    }

    &-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .btn {
      --btn-width: 7rem;
      --btn-height: 7rem;
      --btn-first-padding: 0.375rem;
      --btn-second-padding: 0.375rem;
      --btn-padding-x: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include md {
        --btn-width: 5rem;
        --btn-height: 5rem;
        --btn-first-padding: 0.268rem;
        --btn-second-padding: 0.268rem;
      }

      .scale {
        border-radius: 50%;
      }
    }
  }

  &__content {
    grid-column: 2/3;
    grid-row: 2/3;

    padding: 0 0 var(--offer-padding-bottom) var(--offer-padding-left);

    @include sm {
      grid-column: 1/2;
      grid-row: 3/4;
      padding-top: 1rem;
    }
  }
}

.slider {
  position: relative;
  overflow: visible;
  touch-action: pan-y;

  &__slides {
    z-index: 1;
    position: relative;
    height: 100%;
    transition: none !important;
    transform: none !important;

    /* Slide / clip-path / zoom logic */
    .swiper-slide {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-clip-path: inset(0 0 0 100%);
      clip-path: inset(0 0 0 100%);
      transition: clip-path 0.8s ease;

      &.s--prev {
        z-index: 1;
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
      }

      &.s--active {
        z-index: 2;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }

      /* inner = holds image and zoom transition */
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.8s ease;
      }
    }
  }
}