@use './../mixins' as *;

.plugin {
  --plugin-transform: 5.5rem;

  margin-top: calc(var(--plugin-transform) * -1);
  padding-top: 0 !important;
  padding-bottom: 2rem;
  overflow: visible;
  background: unset;

  @include md {
    --plugin-transform: 8rem;

    margin-top: calc(var(--plugin-transform) * -1);
    padding-bottom: 3rem;
  }

  @include sm {
    --plugin-transform: 20rem;

    margin-top: calc(var(--plugin-transform) * -1);
    padding-bottom: 2rem;
  }

  &::before {
    content: "";
    background: var(--white-gray);
    width: 100%;
    height: 100%;

    position: absolute;
    top: var(--plugin-transform);
    right: 0;
    left: 0;
    z-index: -1;
  }

  &__block {}
}