@font-face {
  font-family: 'RamadaIconFonts';
  src:  url('fonts/RamadaIconFonts.eot?5jpv15');
  src:  url('fonts/RamadaIconFonts.eot?5jpv15#iefix') format('embedded-opentype'),
    url('fonts/RamadaIconFonts.ttf?5jpv15') format('truetype'),
    url('fonts/RamadaIconFonts.woff?5jpv15') format('woff'),
    url('fonts/RamadaIconFonts.svg?5jpv15#RamadaIconFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RamadaIconFonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hh-icon:before {
  content: "\e92c";
  color: #fff;
}
.icon-gis-icon:before {
  content: "\e92d";
  color: #c40d3c;
}
.icon-share:before {
  content: "\e92e";
}
.icon-copy-fill:before {
  content: "\e92f";
}
.icon-person:before {
  content: "\e930";
}
.icon-3d:before {
  content: "\e932";
}
.icon-area:before {
  content: "\e933";
}
.icon-arrow-left:before {
  content: "\e934";
}
.icon-arrow-right:before {
  content: "\e935";
}
.icon-book:before {
  content: "\e936";
}
.icon-burger:before {
  content: "\e937";
}
.icon-caplya .path1:before {
  content: "\e938";
  color: rgb(196, 13, 60);
}
.icon-caplya .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-link:before {
  content: "\e93c";
}
.icon-chevron-right:before {
  content: "\e93d";
}
.icon-chevron-top:before {
  content: "\e93e";
}
.icon-close:before {
  content: "\e93f";
}
.icon-delovoy:before {
  content: "\e940";
}
.icon-elem-bed:before {
  content: "\e941";
}
.icon-elem-phen:before {
  content: "\e942";
}
.icon-elem-pool:before {
  content: "\e943";
}
.icon-elem-tablichka:before {
  content: "\e944";
}
.icon-family:before {
  content: "\e945";
}
.icon-friends:before {
  content: "\e946";
}
.icon-geo:before {
  content: "\e947";
}
.icon-mail:before {
  content: "\e948";
}
.icon-menu:before {
  content: "\e949";
}
.icon-para:before {
  content: "\e94a";
}
.icon-pdf:before {
  content: "\e94b";
}
.icon-places:before {
  content: "\e94c";
}
.icon-play:before {
  content: "\e94d";
}
.icon-route:before {
  content: "\e94e";
}
.icon-services-board:before {
  content: "\e94f";
}
.icon-services-coffee-machine:before {
  content: "\e950";
}
.icon-services-condicioner:before {
  content: "\e951";
}
.icon-services-electric-kettle:before {
  content: "\e952";
}
.icon-services-garderob:before {
  content: "\e953";
}
.icon-services-holodilnik:before {
  content: "\e954";
}
.icon-services-kids-bedroom:before {
  content: "\e955";
}
.icon-services-master-bedroom:before {
  content: "\e956";
}
.icon-services-microwave:before {
  content: "\e957";
}
.icon-services-places:before {
  content: "\e958";
}
.icon-services-tv:before {
  content: "\e959";
}
.icon-services-wifi:before {
  content: "\e95a";
}
.icon-solo:before {
  content: "\e95b";
}
.icon-star:before {
  content: "\e95c";
}
.icon-telegram:before {
  content: "\e95d";
}
.icon-vk:before {
  content: "\e95e";
}
.icon-whatsapp:before {
  content: "\e95f";
}
.icon-events-inner-icon-1:before {
  content: "\e960";
}
.icon-events-inner-icon-2:before {
  content: "\e961";
}
.icon-events-inner-icon-3:before {
  content: "\e962";
}
.icon-events-inner-icon-4:before {
  content: "\e963";
}
.icon-events-inner-icon-5:before {
  content: "\e964";
}
.icon-events-inner-icon-6:before {
  content: "\e965";
}
