@use './../mixins' as *;

.afisha-inner {

  @include md {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &-block {
      background-color: var(--white);
    }

    &-wrap {
      position: relative;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-head {
      display: flex;
      flex-direction: column;

      font-family: var(--second-family);
      font-weight: 350;
      font-size: 5rem;
      line-height: 90%;
      text-transform: uppercase;
      color: var(--white);

      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 1;

      @include md {
        font-size: 3.5rem;

        top: 3rem;
        left: 2rem;
      }

      @include sm {
        top: 4rem;
        left: 4rem;
      }

      span {
        font-size: 3rem;
        text-transform: lowercase;

        @include md {
          font-size: 2rem;
        }
      }
    }
  }

  &-page {

    .room {
      background-color: var(--white);
    }

    .rooms__item {
      border: 0.1rem solid var(--gray-10);
    }
  }
}

.afisha-block {

  h4 {
    margin-bottom: 4rem;
  }

  p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}