@use './../mixins' as *;

.afisha {
  height: 100%;

  &-page {
    
    .template__title {
      max-width: 140rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include md {
      gap: 3rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 69.4rem auto;
    gap: 6rem 2rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      height: auto;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__box {
    position: relative;
    height: 100%;

    grid-column: 1/2;
    grid-row: 1/2;
    order: 1;

    @include md {
      aspect-ratio: 674/624;
    }

    @include sm {
      aspect-ratio: 353/327;
    }

    &-img {
      width: 100%;
      height: 100%;

      @include md {
        aspect-ratio: 1/1.08;
      }
    }

    &-head {
      display: flex;
      flex-direction: column;

      font-family: var(--second-family);
      font-weight: 350;
      font-size: 5rem;
      line-height: 90%;
      text-transform: uppercase;
      color: var(--white);

      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 1;

      @include md {
        top: 6rem;
        left: 6rem;
      }

      @include sm {
        font-size: 2.5rem;

        top: 3.5rem;
        left: 3.5rem;
      }

      span {
        font-size: 3rem;
        text-transform: lowercase;

        @include md {
          font-size: 3rem;
        }

        @include sm {
          font-size: 1.6rem;
        }
      }
    }

    .border::before {

      @include md {
        top: 2.6rem;
        right: 2.6rem;
        bottom: 2.6rem;
        left: 2.6rem;
      }

      @include sm {
        top: 1.5rem;
        right: 1.5rem;
        bottom: 1.5rem;
        left: 1.5rem;
      }
    }

    .border::after {

      @include md {
        border-width: 2rem;
      }

      @include sm {
        border-width: 1rem;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 13rem;
    background-color: var(--white);
    height: 100%;

    grid-column: 2/3;
    grid-row: 1/2;

    @include md {
      background-color: transparent;
      padding: 0;

      order: 3;
    }

    @include sm {
      gap: 2rem;
    }

    &-head {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @include md {
        display: none;
      }

      h5 {

        @include sm {
          font-size: 2.5rem;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h5 {
        font-size: 2.5rem;
        line-height: 120%;

        @include md {
          font-size: 3.5rem;
        }

        @include sm {
          font-size: 2.5rem;
        }
      }

      span {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 120%;
        color: var(--accent);

        @include sm {
          font-size: 2rem;
        }
      }

      &:last-child {

        @include sm {
          gap: 1rem;
        }

        h5 {
          font-size: 3.5rem;

          @include sm {
            font-size: 2.5rem;
          }
        }
      }
    }

    &-line {
      border-top: 0.1rem solid var(--gray-30);
    }
  }

  &__body {
    grid-column: 1/3;
    grid-row: 2/3;

    @include xxl {
      grid-column: 1/2;
    }

    @include md {
      order: 2;
    }

    @include sm {
      grid-column: 1/2;
    }

    h4 {
      margin-bottom: 4rem;

      @include md {
        font-size: 3.5rem;
        margin-bottom: 2rem;
      }

      @include sm {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
    }

    p {
      margin-bottom: 2rem;

      @include sm {
        margin-bottom: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-page {

    .booking {
      background-color: var(--white);
    }

    .studio .swiper-pagination {
      display: none;

      @include md {
        display: flex;
        position: absolute;
        bottom: 3rem;
      }
    }

    .studio .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      background-color: var(--white);
    }

    .studio__slider--min {

      @include sm {
        display: none;
      }
    }
  }
}