@use './../mixins' as *;

.offers-special {

  &-page {

    .template-product__body-title {

      h5 {
        font-size: 2.5rem;
      }
    }

    .template-product__head-title {

      * {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 5rem;
        line-height: 90%;

        @include md {
          font-size: 2.5rem;
        }
      }
    }
  }

}

.template-block__items {

  .offers__item {
    width: calc(33.33333% - 1.33333rem);

    @include md {
      width: calc(50% - 1rem);
    }

    @include sm {
      width: 100%;
    }
  }
}