@use './../mixins' as *;

.offers-special {

  &-page {}

}

.template-block__items {

  .offers__item {
    width: calc(33.33333% - 1.33333rem);

    @include md {
      width: calc(50% - 1rem);
    }

    @include sm {
      width: 100%;
    }
  }
}