@use './../mixins' as *;

.restaurant {

  &-page {

    .hero {
      margin-bottom: 29rem;

      @include md {
        height: 31.6rem;
        margin-bottom: 15.5rem;
        margin-bottom: 11.5rem;
      }

      @include xmd {
        margin-bottom: 12.2rem;
      }

      @include sm {
        height: auto;
        // margin-bottom: 3rem;
        margin-bottom: 0;
      }

      &__inner {

        @include sm {
          padding: 8.4rem 0 0;
        }
      }

      &__head {
        top: 5.3rem;

        @include md {
          top: 3.8rem;
        }

        @include sm {
          gap: 12rem;
          position: absolute;
          right: var(--container-padding);
          left: var(--container-padding);
          width: calc(100% - (var(--container-padding) * 2));
        }

        .btn-arrow {
          top: 50%;
          transform: translateY(-50%);

          @include md {
            margin-top: 3rem;
          }

          @include xmd {
            position: absolute;
            // top: 50%;
            top: 43.5%;
            transform: unset;
            margin-top: 0;
          }

          @include sm {
            position: relative;
          }
        }
      }

      &__title {

        span {
          text-align: left;
          color: var(--accent);
        }

        h1 {
          font-size: 20rem;
          text-align: right;
          gap: var(--gap);

          @include md {
            font-size: 8rem;
            gap: 25.7rem;
          }

          @include xmd {
            gap: 26.6rem;
          }

          @include sm {
            font-size: 6rem;
            text-align: left;
            gap: 1.4rem;
            margin-left: 0;
          }
        }
      }

      &__bg {
        --top: 20.8rem;

        @include md {
          --top: 10rem;

          width: 100%;
          height: 33rem;
        }

        @include xmd {
          height: 33.8rem;
        }

        @include sm {
          --top: 8.4rem;
          height: fit-content;
          position: static;

          height: 56.6rem;
        }

        img {

          @include sm {
            width: 100%;
          }
        }
      }
    }

    .events {
      padding-top: 6rem;

      @include md {
        padding-top: 4rem;
      }

      @include sm {
        padding-top: 3rem;
      }
    }
  }
}

.concept {
  padding-top: 6rem;
  overflow: visible;
  z-index: 3;

  @include md {
    padding-top: 4rem;
  }

  @include sm {
    padding-top: 3rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: 50% calc(50% - 15rem);
    gap: 15rem;

    @include md {
      grid-template-columns: repeat(9, 1fr);
      gap: 2rem;
    }

    @include sm {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {

    @include md {
      height: 40.7rem;
      grid-column: 1/6;
    }
  }

  &__block {
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include md {
      gap: 1.5rem;
      grid-column: 6/10;
      padding-top: 0;
    }

    @include sm {
      gap: 2rem;
    }
  }

  &__head {
    color: var(--accent);

    h3 {

      @include md {
        font-size: 2.5rem;
        text-transform: unset;
      }

      @include sm {
        font-size: 3.5rem;
      }
    }
  }

  &__body {

    @include sm {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .general__block-title {

    @include md {
      padding: 1rem 0;
    }

    @include sm {
      padding: 2rem 0;
      order: 2;
    }

    h6 {

      @include md {
        font-size: 1.6rem;
      }
    }
  }

  .general__block-subtext {

    @include md {
      gap: 1rem;
      font-size: 1.6rem;
    }

    @include sm {
      order: 1;
    }

    h5 {

      @include md {
        font-size: 2rem;
      }
    }
  }

  .general__block-text {

    @include sm {
      order: 3;
    }
  }
}

.dishes {
  background: var(--white-gray);
  padding-bottom: 0;

  &__inner {}

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;

    @include md {
      margin-bottom: 4rem;
    }

    @include sm {
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 3rem;
    }
  }

  &__item {
    text-align: center;
    padding: 2rem;
    border: 0.1rem solid var(--gray-30);
    width: calc((100% / 3) - (4rem / 3));

    @include md {
      padding: 0;
      border: 0;
    }

    @include sm {
      width: calc((100% / 2) - (1rem / 2));
    }

    &:last-child {

      @include sm {
        width: 100%;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap: 5rem;
      gap: 2rem;
      padding: 6rem 4rem;
      background-color: var(--white);
      position: relative;

      @include md {
        gap: 1rem;
        padding: 1.5rem 4rem 2rem;
      }

      @include sm {
        padding: 1.5rem 2rem 2rem 2rem;
      }

      &::before {
        content: "";
        border: 0.1rem solid var(--gray-20);
        position: absolute;
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
        pointer-events: none;

        @include md {
          top: 0.5rem;
          right: 0.5rem;
          bottom: 0.5rem;
          left: 0.5rem;
        }
      }

      .link {
        gap: 0.7rem;

        color: var(--accent);

        @include md {
          flex-direction: column;
          gap: 0.5rem;

          font-size: 1.2rem;
        }

        i {
          font-size: 1.6rem;
          font-weight: 700;
          color: var(--white);

          background-color: var(--accent);
        }
      }

      .general__block {
        gap: 5rem;

        @include md {
          gap: 1rem;
          width: 100%;
          max-width: 10.8rem;
        }
      }
    }

    &-img {
      max-width: 26rem;
      width: 100%;
      height: 24rem;
      flex-shrink: 0;

      @include md {
        max-width: 13rem;
        height: 12rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    .general {

      &__block {
        align-items: center;

        &-title {
          padding: 2rem 0;
          max-width: 17.2rem;
          width: 100%;
          text-align: center;

          @include md {
            display: flex;
            justify-content: center;
            padding: 1rem 0;
          }

          h6 {

            @include md {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
    }

    &-item {

      @include md {
        aspect-ratio: 444/413;
      }

      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;

        @include sm {}
      }

      &:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1/2;

        @include sm {
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }

      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 2/3;

        @include sm {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
    }
  }

  .general {

    &__head {

      &-title {
        text-transform: capitalize;
      }
    }
  }
}

.equipment {

  @include sm {
    padding-bottom: 2rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 9rem 13rem 6rem;
    background-color: var(--white);

    @include md {
      padding: 4rem 8rem;
      gap: 3rem;
    }

    @include sm {
      padding: 3rem 2rem 2rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 2rem;
    }

    h4 {
      overflow: hidden;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @include md {
      flex-wrap: wrap;
    }

    @include sm {
      gap: 1rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    width: calc(33.33333% - 1.33333rem);
    background-color: var(--white-gray);
    padding: 5rem 5rem 6rem;
    position: relative;

    transition: all 0.5s ease;

    @include md {
      width: 100%;
      padding: 3rem;

      gap: 0;
    }

    @include sm {
      padding: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      left: 2rem;
      border: 0.1rem solid var(--gray-30);
      pointer-events: none;

      @include md {
        display: none;
      }
    }

    &.accordion-active {

      @include md {
        gap: 3rem;
      }

      @include sm {
        gap: 2rem;
      }

      .accordion-body {
        grid-template-rows: 1fr;
        transition: all 0.5s ease;
      }
    }

    &-head {

      @include md {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h5 {

        @include md {
          font-size: 2.5rem;
        }

        @include sm {
          font-size: 1.6rem;
        }
      }

      i {
        display: none;
        color: var(--accent);

        .accordion-active & {
          transform: scale(-1, -1);
          color: var(--black);
        }

        @include md {
          display: block;
        }

        @include sm {
          --font-size: 1.6rem;
        }
      }
    }

    &-body {}

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;
        overflow: hidden;
      }
    }

    &-inner {
      overflow: hidden;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      @include sm {
        gap: 1rem;
      }

      i {
        --font-size: 3rem;

        background-color: var(--white);
        border-radius: 50%;

        color: var(--accent);
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}