@use './../mixins' as *;

.restaurant {

  &-page {

    .hero {
      height: fit-content;
      margin-bottom: 9rem;
    }

    .hero__inner {}

    .hero__head {
      top: 5.3rem;

      .btn-arrow {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .hero__title {

      span {
        text-align: left;
        color: var(--accent);
      }

      h1 {
        font-size: 20rem;
        text-align: right;
        gap: 55.5rem;
      }
    }

    .hero__bg {
      top: 20.8rem;
    }

    .events {
      padding-top: 6rem;
    }
  }
}

.concept {

  &__inner {
    display: grid;
    grid-template-columns: 50% calc(50% - 15rem);
    gap: 15rem;
  }

  &__block {
    padding-top: 4rem;
  }
}

.equipment {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 9rem 13rem 6rem;
    background-color: var(--white);
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    width: calc(33.33333% - 1.33333rem);
    background-color: var(--white-gray);
    padding: 5rem 5rem 6rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      left: 2rem;
      border: 0.1rem solid var(--gray-30);
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      i {
        --font-size: 3rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}