@use './../mixins' as *;

.sosnovyi {

  &-page {

    .template-product__inner {

      &:not(.template-product--seating .template-product__inner) {
        gap: 4rem 15rem;

        @include md {
          gap: 3rem;
        }
      }
    }

    .template-product__body {

      &:not(.template-product--seating .template-product__body) {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include md {
          gap: 3rem;
        }
      }

      @include md {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      &-items {

        @include md {
          flex-direction: row;
        }
      }
    }
  }
}

.gallery {

  .general {

    &__head {

      &-title {
        margin-bottom: 0;
        text-transform: unset;

        @include md {
          margin-bottom: 2rem;
        }

        * {

          @include md {
            font-size: 3.5rem;
          }
        }
      }
    }
  }

  .swiper-pagination {
    display: none;

    @include xmd {
      display: flex;
      margin: 1rem 0;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: calc(33.33334% - 1rem) calc(66.66666% - 1rem);
    gap: 2rem;

    @include md {
      grid-template-columns: 100%;
      gap: 1rem;
    }

    @include md {
      gap: 0;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 4rem;
    background-color: var(--white);

    @include md {
      grid-row: 3/4;

      padding: 3rem;
    }

    @include sm {
      padding: 4rem 1rem 2rem;
    }
  }

  &__title {

    @include md {
      grid-row: 1/2;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;

    @include md {
      gap: 3rem;
    }

    @include sm {
      position: relative;
    }

    &--slider {
      width: 100%;
      height: 100%;

      .swiper-slide {
        transition-duration: 0.6s !important;
      }
    }

    &-title {
      color: var(--accent);
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 2rem;
      }

      @include sm {
        max-width: 27rem;
        margin-bottom: 1.5rem;
      }

      * {

        @include md {
          font-size: 2.5rem;
        }
      }
    }

    &-name {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;

      span {
        font-weight: 700;
        color: var(--accent);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;

      @include md {
        gap: 1.5rem;
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 2rem;
      }
    }

    &-items {
      display: flex;
      flex-direction: row;
      gap: 7.5rem;
      margin-bottom: 4rem;

      @include md {
        gap: 2.6rem;
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 2rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 2rem;
      border-left: 0.1rem solid var(--gray-30);

      @include md {
        padding-left: 1rem;
      }

      h4 {
        color: var(--accent);
        white-space: nowrap;
      }

      p {
        color: var(--gray);
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      @include md {
        gap: 1rem;
        width: fit-content;
      }

      @include sm {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .swiper-button-prev,
      .swiper-button-next {
        position: relative;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;

        transform: none;
      }
    }
  }

  &__slide {

    &-item {
      height: 100%;

      @include sm {
        display: flex;
        flex-direction: column;
      }

      .btn {
        max-width: 32rem;
        width: 100%;

        @include md {
          max-width: 100%;
        }

        @include sm {
          max-width: calc(100% - 12.5rem);
          margin-top: auto;
          margin-left: auto;

          font-size: 1.2rem;
        }
      }
    }
  }

  &__body {
    aspect-ratio: 674/628;

    position: relative;

    @include md {
      grid-row: 2/3;
    }

    .swiper-button-prev {
      left: 5rem;

      @include md {
        left: 3rem;
      }

      @include sm {
        display: none;
      }
    }

    .swiper-button-next {
      right: 5rem;
      left: unset;

      @include md {
        right: 3rem;
      }

      @include sm {
        display: none;
      }

      &:hover {

        i {
          color: var(--white);
        }
      }
    }

    .fraction {
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 300;
      font-size: 6rem;
      line-height: 110%;
      letter-spacing: -0.1em;
      color: var(--white);
      width: fit-content;

      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      @include md {
        font-size: 5rem;

        bottom: 4rem;
      }

      @include sm {
        display: none;
      }
    }

    .border {

      &::before {

        @include md {
          top: 3rem;
          right: 3rem;
          bottom: 3rem;
          left: 3rem;
        }

        @include sm {
          top: 1.5rem;
          right: 1.5rem;
          bottom: 1.5rem;
          left: 1.5rem;
        }
      }

      &::after {

        @include md {
          border-width: 2rem;
        }

        @include sm {
          border-width: 1rem;
        }
      }
    }

    &--slider {
      height: 100%;
    }

    &-item {
      height: 100%;
    }
  }

  &__btn {
    display: none;
  }
}