@use './../mixins' as *;

.sosnovyi {

  &-page {

    .template-product__inner {

      &:not(.template-product--seating .template-product__inner) {
        gap: 4rem 15rem;

        @include md {
          gap: 3rem;
        }
      }
    }

    .template-product__body {

      &:not(.template-product--seating .template-product__body) {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include md {
          gap: 3rem;
        }
      }

      @include md {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      &-items {

        @include md {
          flex-direction: row;
        }
      }
    }
  }
}