@use './../mixins' as *;

.sosnovyi {

  &-page {

    .template-product__body {

      @include md {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      &-items {

        @include md {
          flex-direction: row;
        }
      }
    }
  }
}

.gallery {

  &__inner {
    display: grid;
    grid-template-columns: calc(33.33334% - 1rem) calc(66.66666% - 1rem);
    gap: 2rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 7rem;

    @include md {
      padding-top: 0;
      gap: 0;
    }
  }

  &__block {
    height: 100%;

    &--slider {
      height: 100%;
    }

    &-title {
      color: var(--accent);
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 2rem;
      }

      @include sm {
        margin-bottom: 1.5rem;
      }

      h5 {

        @include md {
          font-size: 2.5rem;
        }
      }
    }

    &-name {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;

      span {
        font-weight: 700;
        color: var(--accent);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;

      @include md {
        gap: 1.5rem;
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 2rem;
      }
    }

    &-items {
      display: flex;
      flex-direction: row;
      gap: 7.5rem;
      margin-bottom: 4rem;

      @include md {
        gap: 3rem;
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 0;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 2rem;
      border-left: 0.1rem solid var(--gray-30);

      @include md {
        padding-left: 1rem;
      }

      h4 {
        color: var(--accent);
      }
    }
  }

  &__slide {

    &-item {
      height: 100%;
      background-color: var(--white);
      padding: 4rem;

      @include md {
        padding: 3rem;
      }

      @include sm {
        padding: 2rem 1rem;
      }

      .btn {
        max-width: 32rem;
        width: 100%;

        @include md {
          max-width: 100%;
        }

        @include sm {
          display: none;
        }
      }
    }
  }

  &__body {
    position: relative;

    .swiper-button-next {
      right: calc(var(--btn-arrow-width) / 2 * -1);
      left: unset;

      @include sm {
        display: none;
      }

      &:hover {

        i {
          color: var(--white);
        }
      }
    }

    .btn-arrow {

      @include md {
        --btn-arrow-width: 12rem;
        --btn-arrow-height: 12rem;
      }

      i {
        --font-size: 10rem;
        --swiper-font-size: 10rem;

        @include md {
          --font-size: 8rem;
          --swiper-font-size: 8rem;
        }
      }
    }

    .swiper-pagination {
      display: none;

      @include sm {
        display: flex;
        margin: 1rem 0;
      }
    }

    .fraction {
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 300;
      font-size: 12rem;
      line-height: 110%;
      color: var(--white);
      width: fit-content;

      position: absolute;
      right: 6rem;
      bottom: 5rem;
      left: unset;
      z-index: 1;

      @include md {
        font-size: 8rem;
        right: 4rem;
        bottom: 4rem;
      }

      @include sm {
        font-size: 5rem;
        right: 2rem;
        bottom: 2rem;
      }
    }

    .border {

      &::before {

        @include md {
          top: 3rem;
          right: 3rem;
          bottom: 3rem;
          left: 3rem;
        }

        @include sm {
          top: 1.5rem;
          right: 1.5rem;
          bottom: 1.5rem;
          left: 1.5rem;
        }
      }

      &::after {

        @include md {
          border-width: 2rem;
        }

        @include sm {
          border-width: 1rem;
        }
      }
    }

    &--slider {
      height: 100%;
    }

    &-item {
      height: 100%;
    }
  }

  &__btn {
    display: none;

    @include sm {
      display: flex;
      width: 100%;
    }
  }

  .general {

    &__head {

      &-title {
        text-transform: unset;

        h3 {

          @include md {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}