@use './../mixins' as *;

.thermal-zone {

  &-page {

    .booking {
      background-color: var(--white);
    }

    .template-product {

      // /**/
      // position: sticky;
      // top: 4rem;
      // right: 0;
      // left: 0;
      // overflow: visible;
      // /**/

      @include md {
        padding-bottom: 2rem;

        // /**/
        // position: static;
        // /**/
      }

      @include sm {
        padding-bottom: 1rem;
      }

      /**/
      &__inner {
        box-shadow: 0px 0px 2rem 0.5rem var(--white-gray);

        @include md {
          box-shadow: none;
        }
      }
      /**/
    }

    .template-product__body-items {
      flex-direction: row;
      gap: 3rem;

      @include sm {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        border-top: 0.1rem solid var(--gray-30);
        border-bottom: 0.1rem solid var(--gray-30);
      }
    }

    .template-product__body {

      @include md {
        gap: 3rem;
      }
    }

    .callback {

      @include md {
        margin-top: 2rem;
      }
    }
  }
}