@use './../mixins' as *;

.accordion {
  cursor: pointer;

  &-active {

    .accordion-body:not(.template-box__attr-wrap),
    &+.accordion-body:not(.template-box__attr-wrap) {
      grid-template-rows: 1fr;
    }
  }
}

.accordion-body:not(.template-box__attr-wrap) {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 0.3s ease;
}