@use './../mixins' as *;

.callback {

  @include sm {
    padding-bottom: 3rem;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
    background-color: var(--white);
    width: calc(100% - 2rem - 62.2rem);

    @include md {
      gap: 4rem;
      padding: 4rem 3rem 3rem;
      width: 100%;
    }

    @include sm {
      gap: 3rem;
      padding: 3rem 1rem;
    }
  }

  &__head {
    text-transform: uppercase;
    // overflow: hidden;

    h4 {
      // overflow: hidden;
    }
  }

  &__cover {
    width: 62.2rem;

    @include md {
      display: none;
    }
  }

  .form-label {
    background-color: var(--white);
  }
}