@use './../mixins' as *;

.menu {
  --menu-transition-time: 1s;
  --menu-head-width: 66.2rem;
  --menu-body-width: 49.3rem;

  display: grid;
  // grid-template-columns: 18rem 115.5rem 58.5rem;
  grid-template-columns: 0rem 0rem 0rem;
  background-color: var(--white-gray);
  // background-image: url(./../images/menu/bg-full.png);
  // background-image: url(./../images/menu/bg.png);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;

  transition: all var(--menu-transition-time) ease-in-out;
  overflow: hidden;

  min-height: 100%;
  height: fit-content;

  @include md {
    --menu-transition-time: 0.5s;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    background-image: unset;

    height: fit-content;
  }

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0 5.6rem;
    min-width: 18rem;

    background-color: var(--accent);
    transition: all var(--menu-transition-time) ease-in-out;
    overflow: hidden;

    z-index: 3;

    @include md {
      flex-direction: row;
      padding: 2.5rem 8rem 3rem;
      min-width: unset;
      height: fit-content;

      background-color: transparent;
    }

    @include sm {
      padding: 1.5rem 1.5rem 3rem 1.5rem;
    }

    &-btns {
      display: none;
      flex-direction: row;
      gap: 0.5rem;

      @include md {
        display: flex;
      }
    }

    &-social {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include md {
        display: none;
      }

      @include sm {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        order: 4;
        padding: 2rem;
        background-color: var(--black);
      }
    }

    &-link {
      --social-link-size: 5rem;
      --social-link-color: var(--white);

      width: var(--social-link-size);
      height: var(--social-link-size);
      border-radius: 50%;
      border: 0.05rem solid var(--social-link-color);

      position: relative;

      @include sm {
        --social-link-color: var(--gray);
      }

      &:hover {
        --social-link-color: var(--accent);

        background-color: var(--white);

        @include sm {
          background-color: var(--accent);

          i {
            color: var(--white);
          }
        }
      }

      i {
        --font-size: var(--social-link-size);

        color: var(--social-link-color);

        position: absolute;
        top: -0.05rem;
        right: 0;
        bottom: 0;
        left: -0.05rem;

        @include sm {
          --social-link-color: var(--accent);
        }
      }
    }
  }

  &__body {
    --menu-transition-time: 0.5s;

    display: flex;
    align-items: center;
    background: linear-gradient(to right, var(--white-gray) var(--menu-head-width), transparent var(--menu-body-width));
    background-color: var(--white-gray);
    transition: all var(--menu-transition-time) ease-in-out;
    overflow: hidden;
    min-width: 115.5rem;

    position: relative;
    z-index: 2;

    background-image: url(./../images/menu/bg.png);
    background-repeat: no-repeat;
    background-size: var(--menu-body-width) 100%;
    background-position: var(--menu-head-width) center;

    @include md {
      min-width: unset;

      background: none;
      padding-bottom: 3rem;
    }

    @include sm {
      align-items: flex-start;
    }

    &.activated {
      // background: linear-gradient(to right, var(--white-gray) var(--menu-head-width), rgba(255, 255, 255, 0.79) var(--menu-body-width));

      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      min-height: 100dvh;
      background: var(--white-80);
      backdrop-filter: blur(1.3rem);
      opacity: 0;
      pointer-events: none;
      transition: all var(--menu-transition-time) ease-in-out;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: var(--menu-head-width);

      @include md {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100%;
    height: fit-content;

    justify-content: center;

    position: relative;

    @include md {
      width: 100%;
      gap: 2rem;
    }

    @include sm {
      gap: 1.5rem;
    }

    &:hover {

      .menu__item .menu__item-head {
        opacity: 0.5;
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: var(--menu-head-width) var(--menu-body-width);

    @include md {
      grid-template-columns: 1fr;

      width: calc(100% - 16rem);
      height: fit-content;
      margin: 0 8rem;
      padding: 0 0 2rem 0;
      border-bottom: 0.1rem dashed var(--gray);
    }

    @include sm {
      width: calc(100% - 4rem);
      margin: 0 2rem;
      padding: 0 0 1.5rem 0;
    }

    &:last-child {

      @include md {
        padding: 0;
        border-bottom: 0;
      }
    }

    .accordion-body {
      transition: 0s;

      @include md {
        transition: all var(--menu-transition-time) ease-in-out;
      }
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 8rem;
      padding: 0 8rem 0 8.8rem;
      transition: all var(--menu-transition-time) ease-in-out;

      color: var(--gray);
      position: relative;
      overflow: hidden;

      @include md {
        height: fit-content;
        padding: 0;

        color: var(--black);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        transition: left .7s;

        @include md {
          display: none;
        }
      }

      &:hover {
        color: var(--accent);
        opacity: 1 !important;

        &::before {
          left: 0;
        }

        @include md {
          background-color: transparent;
        }
      }

      &.accordion-active {
        color: var(--accent);
        opacity: 1 !important;

        &::before {
          left: 0;
        }

        @include md {
          background-color: transparent;
        }

        i {
          transform: scale(-1, 1);

          @include md {
            transform: rotate(270deg);
          }
        }

        &+.accordion-body {
          transition: all var(--menu-transition-time) ease-in-out;
          /**/
          height: 100%;

          @include md {
            padding-top: 2rem;
          }
        }
      }

      h6,
      a {
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: inherit;
        transition: all var(--menu-transition-time) ease-in-out;

        @include md {
          font-size: 1.4rem;
          line-height: 2rem;
        }

        @include sm {
          font-size: 1.2rem;
        }
      }

      i {
        color: inherit;
        transition: all var(--menu-transition-time) ease-in-out;

        @include md {
          transform: rotate(90deg);
        }
      }
    }

    &-body {
      // justify-content: center;
      padding: 0 6rem;

      position: absolute;
      top: 3rem;
      left: var(--menu-head-width);
      right: 0;
      /* */
      height: 0;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }

      @include md {
        justify-content: unset;
        padding: 0;

        position: static;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 5.4rem;
      overflow: hidden;
      // width: fit-content;
      /**/
      height: fit-content;

      @include md {
        width: 100%;
        gap: 2.5rem;
      }

      @include sm {
        gap: 2rem;
      }

      a {
        display: block;
        width: 100%;

        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--gray);

        @include md {
          font-size: 1.4rem;
          line-height: 100%;
        }

        @include sm {
          font-size: 1.2rem;
        }

        &:hover {
          color: var(--accent);
        }
      }

      li {

        @include md {
          padding-left: 2rem;

          position: relative;

          &::before {
            display: block;
          }
        }

        &::before {
          display: none;
          content: "";
          position: absolute;
          top: 0.8rem;
          left: 0.8rem;
          border-radius: 50%;
          width: 0.4rem;
          height: 0.4rem;
          background-color: var(--gray);

          @include md {
            top: 0.6rem;
          }

          @include sm {
            top: 0.4rem;
          }
        }
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 0;
    background-color: var(--black);
    min-width: 58.5rem;
    color: var(--gray);

    transition: all var(--menu-transition-time) ease-in-out;
    overflow: hidden;

    z-index: 1;

    @include md {
      min-width: unset;

      padding: 3rem 8rem 4rem;
      background: var(--gray-005);
    }

    @include sm {
      padding: 3rem 2rem;
    }

    &-head {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 4rem;
      line-height: 110%;
      color: inherit;

      @include md {
        display: none;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @include md {
        display: grid;
        // grid-template-columns: repeat(9, 1fr);
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
      }

      @include sm {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1.5rem;

        grid-column: 1/2;
      }

      @include sm {
        gap: 1rem;
      }

      &--social {
        display: none;

        @include md {
          display: flex;
        }

        @include sm {
          display: none;
        }
      }
    }

    &-suptitle {
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: inherit;

      @include md {
        font-size: 1rem;
        line-height: 100%;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--accent);
      width: fit-content;

      @include md {
        font-size: 1.4rem;
        color: var(--black);
      }

      &:not(.menu__foot-title--mail) {

        &:hover {

          a::before {
            width: 100%;
          }
        }

        a {
          position: relative;

          @include md {
            font-family: var(--second-family);
            font-size: 2.5rem;
            line-height: 100%;
            color: var(--accent);
          }

          @include sm {
            font-family: var(--font-family);
            font-size: 2rem;
          }

          &::before {
            --menu-transition-time: 0.5s;

            content: "";
            display: block;
            width: 0;
            height: 0.2rem;
            border-radius: 0.1rem;
            background-color: var(--accent);
            position: absolute;
            bottom: -0.2rem;
            left: 50%;
            transform: translate(-50%);
            transition: all var(--menu-transition-time) ease-in-out;
          }
        }
      }

      &--mail {

        a {
          transition: all 0.3s ease;
          border-bottom: 0.1rem solid var(--accent);
          line-height: 100%;

          @include md {
            border-color: var(--black);
          }

          &:hover {
            color: var(--white);
            border-color: transparent;

            @include md {
              color: var(--accent);
            }
          }
        }
      }
    }

    &-btns {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-left: -0.5rem;

      @include md {
        grid-column: 2/3;
        grid-row: 1/5;
      }
    }

    &-btn {
      max-width: 21.3rem;
      width: 100%;
      height: 5rem;
      border: 0.05rem solid var(--gray);
      border-radius: 10rem;
      padding: 1rem;
      transition: all 0.5s ease;

      @include md {
        display: none;
      }

      &:hover:not(.menu__route) {
        background-color: var(--white);
        border-color: var(--white);
      }

      &--presentation {

        @include md {
          display: block;
        }
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-weight: 700;
      font-size: 1.2rem;
      color: var(--accent);
    }

    &-icon {
      --menu-icon-width: 3rem;
      --menu-icon-height: 3rem;
      --menu-icon-padding: 0.16rem;
      --menu-icon-color: var(--white);
      --menu-icon-background: var(--accent);
      --menu-icon-border-color: var(--accent-30);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: var(--menu-icon-width);
      height: var(--menu-icon-height);
      border-radius: 50%;
      border: 0.05rem solid var(--menu-icon-border-color);
      transition: all 0.3s ease;

      text-align: center;
      color: var(--menu-icon-color);

      position: relative;
      z-index: 1;

      &::before {
        content: "";
        background: var(--menu-icon-background);
        border-radius: 50%;
        transition: all 0.3s ease;
        pointer-events: none;

        position: absolute;
        top: var(--menu-icon-padding);
        right: var(--menu-icon-padding);
        bottom: var(--menu-icon-padding);
        left: var(--menu-icon-padding);
        z-index: -1;
      }

      &::after {
        content: "";
        border-radius: 50%;
        border: 0.1rem solid var(--white-o-50);
        transition: all 0.3s ease;
        pointer-events: none;

        position: absolute;
        top: calc(var(--menu-icon-padding) * 2);
        right: calc(var(--menu-icon-padding) * 2);
        bottom: calc(var(--menu-icon-padding) * 2);
        left: calc(var(--menu-icon-padding) * 2);
      }

      i {
        // --font-size: var(--menu-icon-height);
        --font-size: 2.4rem;
      }

      &--geo {

        i {
          --font-size: 1.4rem;

          margin-top: -0.2rem;
        }
      }
    }

    &-social {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 0.05rem solid var(--black);

      &:hover {
        color: var(--white);
        border-color: var(--accent);
        background-color: var(--accent);
      }

      i {
        font-size: 5rem;
      }
    }
  }

  &__route {
    border-radius: 2.5rem;
    height: fit-content;
    min-height: 5rem;

    &.accordion-active {

      .icon-chevron-down {
        transform: scale(-1, -1);
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0 0 0 0.8rem;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;

      // font-weight: 400;
      font-weight: 350;
      font-size: 1.4rem;
      color: var(--white);

      &:first-child {
        margin-top: 2rem;
      }

      img {
        width: auto;
        height: 1.5rem;
        object-fit: contain;
        flex-shrink: 0;
      }

      a {
        border-bottom: 0.1rem solid transparent;
        line-height: 100%;

        &:hover {
          border-color: var(--white);
        }
      }
    }
  }
}