@use './../mixins' as *;

.nav {
  border-bottom: 0.1rem solid var(--accent);

  @include md {
    border-bottom: none;
  }

  @include sm {
    display: none;
  }

  &__container {

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    @include md {
      overflow-x: auto;
      padding: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @include md {
      justify-content: flex-start;
      gap: 2rem;
      width: fit-content;
      padding: 0 var(--container-padding);
    }
  }

  li {
    position: relative;

    i {
      --font-size: 1.4rem;
    }

    &:hover {

      .nav__drop {
        grid-template-rows: 1fr;
        padding: 0.75rem 2rem;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.8rem 0 1.9rem;

    font-weight: 900;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--accent);
    white-space: nowrap;

    @include md {
      padding: 1.6rem 0;
      height: fit-content;

      font-size: 1.2rem;
    }

    &:hover {

      i {
        color: var(--black);
      }
    }
  }

  &__drop {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease;
    width: calc(100% + 6rem);
    padding: 0 2rem;
    background-color: var(--white);
    overflow: hidden;
    border-top: 0.1rem solid var(--accent);

    position: absolute;
    // top: calc(100% + 0.1rem);
    top: 100%;
    left: -2rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      overflow: hidden;
    }

    a {
      padding: 0.75rem 1rem;

      font-weight: 350;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--black);

      &:hover {
        color: var(--accent);
      }
    }
  }
}