@use './../mixins' as *;

.nav {
  border-bottom: 0.1rem solid var(--accent);

  @include sm {
    display: none;
  }

  &__container {

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    @include md {
      overflow-x: auto;
      padding: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    @include md {
      justify-content: flex-start;
      gap: 2rem;
      width: fit-content;
      padding: 0 var(--container-padding);
    }
  }

  li {

    i {
      --font-size: 1.4rem;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.8rem 1rem 1.9rem;

    font-weight: 900;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--accent);
    white-space: nowrap;

    @include md {
      padding: 1.6rem 0;
      height: fit-content;

      font-size: 1.2rem;
    }

    &:hover {
      // color: var(--black);

      .clone--text {
        clip-path: polygon(-100% 125%, 200% 125%, 200% 275%, -100% 275%);
        transform: translateY(-150%) rotate(2deg);

        &+.clone--text {
          clip-path: polygon(-100% -25%, 200% -25%, 200% 125%, -100% 125%);
          transform: translateY(0);
        }
      }
    }

    .clone {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &--text {
        transform: translateY(0);
        transition: all 0.8s cubic-bezier(.6, 0, .4, 1);
        will-change: transform, clip-path;
        position: relative;
        clip-path: polygon(-100% -25%, 200% -25%, 200% 125%, -100% 125%);

        &+.clone--text {
          clip-path: polygon(-100% -175%, 200% -175%, 200% -25%, -100% -25%);
          transform: translateY(150%) rotate(2deg);
          position: absolute;
        }
      }
    }
  }
}