@use './../mixins' as *;

.plate {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;

  transform: translateX(100%);
  transition: transform 0.5s linear;
  transition-delay: 0.3s;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 35.2rem;
    width: 100%;
    height: fit-content;
    padding: 3rem 2rem 2rem 2rem;
    background-color: var(--accent);

    @include md {
      padding: 1.5rem 3rem 1.5rem 2rem;
    }

    @include sm {
      max-width: 100%;
    }
  }

  &__text {
    color: var(--white);

    a {
      font-weight: 700;
      text-decoration: underline;
    }

    p {
      font-size: 1.4rem;

      @include md {
        font-size: 1.2rem;
      }
    }
  }

  .btn {

    @include md {
      --btn-height: 3rem;
      --btn-first-padding: 0.2rem;
      --btn-second-padding: 0.1rem;

      font-size: 1rem;
    }

    &::before {

      @include md {
        top: var(--btn-first-padding);
        right: var(--btn-first-padding);
        bottom: var(--btn-first-padding);
        left: var(--btn-first-padding);
      }
    }

    &::after {

      @include md {
        top: calc(var(--btn-first-padding) + var(--btn-second-padding));
        right: calc(var(--btn-first-padding) + var(--btn-second-padding));
        bottom: calc(var(--btn-first-padding) + var(--btn-second-padding));
        left: calc(var(--btn-first-padding) + var(--btn-second-padding));
      }
    }
  }
}