@use './../mixins' as *;

.popup {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 5rem 3rem;
  background-color: var(--white);
  max-width: 71.4rem;
  width: 100%;

  display: none;

  @include md {
    gap: 2rem;
    padding: 5rem 1rem 2rem;
    max-width: 35.3rem;
  }

  &__head {
    text-transform: uppercase;
  }

  &__body {}

  .form {

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        gap: 1rem;
      }
    }

    &-group {

      &:nth-child(1),
      &:nth-child(2) {
        width: 100%;
      }
    }

    &-label {
      background-color: var(--white);
    }
  }
}