@use './../mixins' as *;

.template {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;

  @include md {
    gap: 3rem;
    padding-bottom: 2rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__head {

    &-title {}
  }

  &__plugin {


    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}