@use './../mixins' as *;

.template {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;

  @include md {
    gap: 3rem;
    padding-bottom: 2rem;
  }

  &--primary {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    margin-bottom: calc(6.5rem + 2rem);
    position: relative;
    z-index: 3;

    .offers-special-page & {
      min-height: 72rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    @include md {
      margin-bottom: calc(13rem + 2rem);

      .offers-special-page & {
        min-height: 53.8rem;
      }
    }

    @include sm {
      gap: 8rem;
      margin-bottom: calc(9rem + 2rem);

      .offers-special-page & {
        min-height: 65rem;
      }
    }

    .template__inner {
      gap: 6rem;

      @include sm {
        gap: 7rem;
      }
    }

    .template__plugin {
      // transform: translateY(calc(6.5rem + 4rem));
      margin-bottom: calc(-6.5rem - 4rem);

      @include md {
        margin-bottom: calc(-13rem - 2rem);
      }

      @include sm {
        margin-bottom: calc(-9rem - 2rem);
      }
    }

    .template__body-suptitle {
      margin-bottom: 15rem;

      @include md {
        margin-bottom: 5rem;
      }

      @include sm {
        padding: 1.5rem 0;
      }

      h6 {
        font-weight: 350;

        @include sm {
          font-size: 1.6rem;
        }
      }
    }

    .template__body-title {
      text-transform: uppercase;
      margin-bottom: 10rem;

      @include md {
        margin-bottom: 6rem;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__head {

    &-title {}
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: var(--white);


    &-suptitle {
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;

      padding: 2rem 0;
      border-top: 0.1rem solid var(--white-30);
      border-bottom: 0.1rem solid var(--white-30);
    }

    &-title {}

    &-icons {
      display: flex;
      flex-direction: row;
      gap: 8rem;

      @include md {
        gap: 6rem;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: min-content;

      @include md {
        gap: 1rem;
      }

      i {
        --font-size: 7rem;

        font-weight: 300;
        border-radius: 50%;
        border: 0.1rem solid var(--white-30);

        @include md {
          --font-size: 5rem;
        }
      }

      p {
        text-align: center;
      }
    }
  }

  &__plugin {


    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}