@font-face {
  font-family: 'RamadaIconFont';
  src:  url('fonts/RamadaIconFont.eot?u75esl');
  src:  url('fonts/RamadaIconFont.eot?u75esl#iefix') format('embedded-opentype'),
    url('fonts/RamadaIconFont.ttf?u75esl') format('truetype'),
    url('fonts/RamadaIconFont.woff?u75esl') format('woff'),
    url('fonts/RamadaIconFont.svg?u75esl#RamadaIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RamadaIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-max:before {
  content: "\e90f";
}
.icon-gis-icon:before {
  content: "\e900";
}
.icon-3d:before {
  content: "\e901";
}
.icon-area:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e905";
}
.icon-burger:before {
  content: "\e906";
}
.icon-caplya .path1:before {
  content: "\e907";
  color: rgb(196, 13, 60);
}
.icon-caplya .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chevron-down:before {
  content: "\e909";
}
.icon-chevron-left:before {
  content: "\e90a";
}
.icon-chevron-link:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-top:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-copy-fill:before {
  content: "\e910";
}
.icon-delovoy:before {
  content: "\e911";
}
.icon-elem-bed:before {
  content: "\e912";
}
.icon-elem-phen:before {
  content: "\e913";
}
.icon-elem-pool:before {
  content: "\e914";
}
.icon-elem-tablichka:before {
  content: "\e915";
}
.icon-events-avtorkaya-kuhnya:before {
  content: "\e916";
}
.icon-events-banketnoe-menu:before {
  content: "\e917";
}
.icon-events-basseyn:before {
  content: "\e918";
}
.icon-events-catering:before {
  content: "\e919";
}
.icon-events-dva-restorana:before {
  content: "\e91a";
}
.icon-events-infrastructura:before {
  content: "\e91b";
}
.icon-events-panoramnye-okna:before {
  content: "\e91c";
}
.icon-events-parkovka:before {
  content: "\e91d";
}
.icon-events-personal-manager:before {
  content: "\e91e";
}
.icon-events-prostornye-nomera:before {
  content: "\e91f";
}
.icon-events-raspolozhenie:before {
  content: "\e920";
}
.icon-events-razmeshcheniye-gostey:before {
  content: "\e921";
}
.icon-events-special-tariffs:before {
  content: "\e922";
}
.icon-events-territoriya:before {
  content: "\e923";
}
.icon-events-tri-konferens-zala:before {
  content: "\e924";
}
.icon-events-vremya:before {
  content: "\e925";
}
.icon-family:before {
  content: "\e926";
}
.icon-friends:before {
  content: "\e927";
}
.icon-geo:before {
  content: "\e928";
}
.icon-mail:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-para:before {
  content: "\e92c";
}
.icon-pdf:before {
  content: "\e92d";
}
.icon-person:before {
  content: "\e92e";
}
.icon-places:before {
  content: "\e92f";
}
.icon-play:before {
  content: "\e930";
}
.icon-route:before {
  content: "\e931";
}
.icon-services-board:before {
  content: "\e932";
}
.icon-services-coffee-machine:before {
  content: "\e933";
}
.icon-services-condicioner:before {
  content: "\e934";
}
.icon-services-electric-kettle:before {
  content: "\e935";
}
.icon-services-garderob:before {
  content: "\e936";
}
.icon-services-holodilnik:before {
  content: "\e937";
}
.icon-services-kids-bedroom:before {
  content: "\e938";
}
.icon-services-master-bedroom:before {
  content: "\e939";
}
.icon-services-microwave:before {
  content: "\e93a";
}
.icon-services-places:before {
  content: "\e93b";
}
.icon-services-tv:before {
  content: "\e93c";
}
.icon-services-wifi:before {
  content: "\e93d";
}
.icon-share:before {
  content: "\e93e";
  color: #d11242;
}
.icon-solo:before {
  content: "\e93f";
}
.icon-star:before {
  content: "\e941";
}
.icon-telegram:before {
  content: "\e942";
}
.icon-vk:before {
  content: "\e943";
}
.icon-whatsapp:before {
  content: "\e944";
}
