@use './../mixins' as *;

.general {

  &__head {

    &-suptitle {
      font-weight: 700;
      line-height: 110%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--accent);

      padding: 1rem 0;
      border-top: 0.1rem solid var(--accent);
      border-bottom: 0.1rem solid var(--accent);
      width: fit-content;
      margin-bottom: 3rem;

      @include md {
        font-weight: 900;

        margin-bottom: 2rem;
      }

      p {
        font-weight: inherit;
      }
    }

    &-title {
      text-transform: uppercase;
      margin-bottom: 4rem;

      @include md {
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 2rem;
      }

      h3 {

        @include md {
          font-size: 4rem;
        }
      }
    }

    &-text {}
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 2rem;
    }

    &-title {
      padding: 3rem 0;
      border-top: 0.1rem solid var(--black);
      border-bottom: 0.1rem solid var(--black);

      text-transform: uppercase;

      @include md {
        padding: 2rem 0;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      color: var(--gray);

      @include md {
        gap: 1.7rem;
      }

      p {}
    }
  }
}

.border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    left: 3rem;
    border: 0.1rem solid var(--white-30);

    transition: all 0.5s ease;

    @include md {
      top: 1.5rem;
      right: 1.5rem;
      bottom: 1.5rem;
      left: 1.5rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2rem solid var(--white-30);

    transition: all 0.5s ease;

    @include md {
      border-width: 1rem;
    }
  }

  img {
    height: 100%;
  }
}