@use './../mixins' as *;

.swiper-slide {
  height: auto;
}

/* Пагинация слайдера */
.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  position: static;

  &-bullet {
    width: 0.4rem;
    height: 0.4rem;
    background: var(--gray);
    opacity: 1;
    transition: all 0.3s ease;
    flex-shrink: 0;

    &-active {
      width: 0.6rem;
      height: 0.6rem;
      background: var(--accent);
    }
  }
}

.swiper-thumbs {

  .swiper-slide {
    cursor: pointer;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.3rem;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  margin-right: auto;
  margin-left: auto;
  justify-content: unset;
  transform: unset;

  .rooms__item--slider & {
    transform: translateX(-50%);
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
}

/* Кнопка слайдера */
[class^="swiper-button-"],
[class*=" swiper-button-"] {
  --swiper-button-size: 6rem;
  --swiper-button-padding: 0.4rem;
  --swiper-button-bg: var(--white);
  --swiper-font-size: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--swiper-button-size);
  height: var(--swiper-button-size);
  margin: 0;
  flex-shrink: 0;
  background-color: var(--swiper-button-bg);
  border-radius: 50%;
  border: 0.05rem solid var(--black-30);
  opacity: 1;
  transition: all 0.3s ease;
  color: var(--accent);
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  @include md {
    --swiper-button-size: 5rem;
    --swiper-button-padding: 0.33rem;
    --swiper-font-size: 4.34rem;
  }

  &:not(.diversity-button-next, .residence-button-next):hover {

    @include dosm {
      border-color: var(--accent);
      color: var(--white);

      &::before {
        border-color: var(--accent);
        // background-color: var(--accent);
      }
    }
  }

  &::before {
    content: "";
    border-radius: 50%;
    border: 0.05rem solid var(--black);
    background-color: var(--white);
    transition: all 0.3s ease;

    position: absolute;
    top: var(--swiper-button-padding);
    right: var(--swiper-button-padding);
    bottom: var(--swiper-button-padding);
    left: var(--swiper-button-padding);
  }

  &::after {
    display: none;
  }

  i {
    font-size: var(--swiper-font-size);
    transition: all 0.3s ease;
    z-index: 1;
  }

  .scale {
    top: var(--swiper-button-padding);
    right: var(--swiper-button-padding);
    bottom: var(--swiper-button-padding);
    left: var(--swiper-button-padding);
    border-radius: 50%;
    background-color: var(--swiper-button-bg);
    transition: all 0.5s ease;
  }

  &:hover {

    @include dosm {

      .scale {
        transform: scale(100%);
        background-color: var(--accent);
      }
    }
  }
}

.swiper-button-prev {
  left: calc((var(--swiper-button-size) / 2) * -1);

  @include md {
    left: -1rem;
  }
}

.swiper-button-next {
  right: calc((var(--swiper-button-size) / 2) * -1);

  @include md {
    right: -1rem;
  }
}

/* Альтернативная кнопка слайдера */
.swiper-button-alt {
  --swiper-button-bg: transparent;

  border-color: var(--white-50);

  &:hover {

    @include dosm {
      border-color: var(--gray);
    }
  }

  i {
    --font-size: var(--swiper-font-size);
  }

  &::before {
    border-color: var(--white);
    background-color: var(--white-o-50);
    backdrop-filter: blur(2.1rem);
  }
}

/* Прозрачная кнопка слайдера */
.swiper-button-tran {
  --swiper-button-bg: transparent;

  border-color: var(--white-30);

  &:hover {

    @include dosm {
      border-color: var(--gray);
    }
  }

  i {
    --font-size: var(--swiper-font-size);
    color: var(--white);
  }

  &::before {
    border-color: var(--white);
    background-color: transparent;
  }
}

/* Fancybox */
.fancybox__container {

  .is-close-button {
    top: 2rem;
    right: 2rem;

    svg {
      stroke: var(--black);
      transition: all 0.3s ease;
    }

    &:hover {

      svg {
        transform: scale(1.1);
        stroke: var(--accent);
      }
    }
  }
}