@use './../mixins' as *;

:root {
  --font-family: "Gotham", sans-serif;
  --second-family: "TTTricks", sans-serif;

  --container-padding: 20rem;
  --container-width: 152rem;
  --header-height: 16.7rem;

  --white: #ffffff;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-80: rgba(255, 255, 255, 0.8);

  --white-gray: #F4F4F4;

  --black: #1A1919;
  --black-50: rgba(26, 25, 25, 0.5);

  --gray: #636463;
  --gray-005: rgba(99, 100, 99, 0.05);
  --gray-30: rgba(99, 100, 99, 30);
  --gray-50: rgba(99, 100, 99, 50);

  --gray-light: #E8E8E8;

  --accent: #C40D3C;

  @include xxl {
    // --container-padding: 14rem;
    // --container-width: 116rem;
  }

  @include md {
    --container-padding: 8rem;
    --container-width: 67.4rem;
  }

  @include xmd {
    --container-padding: 3rem;
  }

  @include sm {
    --container-padding: 2rem;
  }
}